<div id="graph-view"
     data-progress-target="graphView"
     class="w-full max-w-screen-md mx-auto">
  <div class="relative w-full h-[40vh] sm:h-[50vh] max-h-[400px] sm:max-h-[560px] min-h-[250px] sm:min-h-[300px]">
    <canvas id="weightChart"
            data-progress-target="weightChart"
            class="w-full h-full"></canvas>
  </div>
</div>
