<main class="w-full mx-auto min-h-[calc(100vh-60px)] flex flex-col items-center bg-gray-50 pt-[60px] pb-24 mb-10">
  <section class="w-full max-w-xl lg:max-w-2xl bg-white rounded-xl shadow-lg px-4 sm:px-6 lg:px-8 py-4 sm:py-8 lg:py-10 mx-4 mb-12">
    <h2 class="text-lg sm:text-xl lg:text-2xl font-bold text-center mb-4 sm:mb-6 lg:mb-8 text-violet-600">
      記録入力
    </h2>

    <%= render "form", body_record: @body_record %>
  </section>
  <div class="pb-24"></div>
</main>
