<p><%= @resource.name %>様</p>
<p>===============================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>

<p><%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>===============================================</p>

<p>このメールに覚えがない場合は、このメールを無視してください。</p>

<p>パスワードは、上記のリンクにアクセスして新しいパスワードを作成するまで変更されません。</p>
